h1 { font-family: Verdana, Geneva, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 500; line-height: 26.4px; }
h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; }
p { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; }
blockquote { font-family: Verdana, Geneva, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; }
pre { font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;}

#AboutMeBanner {
  width: 32%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
a:link { color:#d0d0d0;}
* {
  outline: none;
  vertical-align: baseline;
  font-size: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

body {
  background: #e5a32f;
  width: 100%;
}

.page {
  margin: 0 auto;
  width: 90%;
}

h1 {
  color: white;
  font-size: 50px;
}

p,
ul,
table {
  color: white;
  font-size: 18px;
  font-weight: 350;
}

/* table */

table {
  margin-left: auto;
  margin-right: auto;
}

/* header */

header {
  text-align: center;
  padding-top: 70px;
}

header p {
  text-align: center;
  margin-top: 10px;
}

/* Linked Pictures */

.linked {
  text-align: center;
  width: 100%;
}

.linked img {
  margin: 3%;
  width: 365px;
}

#Picture {
  width: 200px;
}

#text {
  color: white;
}

footer p,
footer p a {
  text-align: center;
  color: grey;
  margin: 50px auto;
}
